.main-content__news{
    width: 100%;
    float:left;
      @include respond-to('large') {
            width: 70%;
      }
}

.main-content__news__item {
    width: 100%;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
      @include respond-to('large') {
            width: 48%;
      }     
      @include respond-to('xl') {
            width: 30%;
      }
}

.main-content__news__item__body__img {
    width: 100%;
    height: 300px;
    overflow:hidden;
    background:#333;
    @include respond-to('large') {
        height: 250px;
            ;
      }
}

.main-content__news__item__body__img img{
    width: 100%;}

.cuerpo p {
    padding: 5px 10px;
}

.listado-izquierdo {
    width: 220px;
    float: right;
}

.cabecera-listado {
    width: 220px;
    border-bottom: 1px solid gray;
}
